<!doctype html>
<html ng-app="app">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->
	<title>Posts</title>
	<!-- SCROLLS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		html { overflow-y: scroll; }
		body { padding-top:50px; background-color: #f8f9fa;}
		.vote {
		  display: inline-block;
		  overflow: hidden;
		  width: 40px;
		  height: 20px;
		  cursor: pointer;
		  background: url('http://i.stack.imgur.com/iqN2k.png');
		  background-position: 0 -25px;
		}
		.vote.on {
		  background-position: 0 2px;
		}
		.bg-white {
			box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
			background-color: #fff;
		}
		.posts {
			padding-top: 1rem!important;
			display: flex;
		    align-items: flex-start;
		    border-bottom: 1px solid #dee2e6!important;
		}
		.post-content {
			flex: 1;
			line-height: 2;
			vertical-align: middle;
		}
		.post-date {
			margin-right: 10px;
		}
		textarea {
			height: 100px;
    		width: 350px;
    		display: block;
             margin : 0 auto;
		}
		button {
			margin-left: 47%;
    		margin-top: 20px;
		}
		h3 {
			text-align: center;
		}
	</style>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script><!-- load angular -->
	
</head>

<body ng-controller="postController">
	<div class="container bg-white">
		<div class="row">
			<h3 >Posts</h3>
			<textarea type="input" placeholder="Enter your thoughts" ng-model="post.content"></textarea>
			<button class="btn-primary" ng-click="addPost()">Add Post</button>
		</div>

		<div class="row">
			<div class="posts" ng-repeat="p in posts">
				<div class="col-6 post-content">
					<span class="vote" ng-click="upvotePost(p._id);"></span>
					<span >{{p.upvotesCount}}</span>
					{{p.content}} 
					<span class="post-date pull-right">{{p.createdAt | date:'d/M/y H:mm'}} </span>
					
 				</div>	 
			</div>
		</div>
	</div>
	<script src="/js/app.js"></script> <!-- load our main application -->
</body>
</html>